workflows/BIG---Workflow-Backup-Orchestrator.json
{
  "id": "NpyWptseeeMeZCTG",
  "name": "BIG - Workflow Backup Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "cf8221f4-c030-421a-82fe-87b9b1d08b8e",
      "name": "Schedule Daily Backup",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "e72b68c3-b862-4353-b377-f161013a7586",
      "name": "Run Backup Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst workflows = response.data || response || [];\nconst now = new Date().toISOString();\n\nconst allWorkflows = Array.isArray(workflows) ? workflows : [];\nconst bigWorkflows = allWorkflows.filter(wf => {\n  const tags = wf.tags || [];\n  return tags.some(t => {\n    const name = typeof t === 'object' ? t.name : t;\n    return name === 'BIG';\n  });\n});\n\nif (bigWorkflows.length === 0) {\n  throw new Error('No workflows with the BIG tag were found. Total workflows returned: ' + allWorkflows.length);\n}\n\nreturn bigWorkflows.map(wf => {\n  const exportObj = {\n    id: wf.id,\n    name: wf.name,\n    nodes: wf.nodes || [],\n    connections: wf.connections || {},\n    settings: wf.settings || {},\n    pinData: {},\n    tags: (wf.tags || []).map(t => typeof t === 'object' ? t.name : t),\n  };\n  const slug = wf.name\n    .replace(/[^a-zA-Z0-9 -]/g, '')\n    .trim()\n    .replace(/ +/g, '-');\n  return {\n    json: {\n      workflow_id: wf.id,\n      workflow_name: wf.name,\n      file_path: slug + '.json',\n      version_id: wf.versionId || null,\n      version_counter: wf.versionCounter || null,\n      active: wf.active,\n      export_json: JSON.stringify(exportObj, null, 2),\n      backup_timestamp: now,\n    }\n  };\n});"
      },
      "id": "20d576aa-fc27-4fd3-a40e-938d201671cf",
      "name": "Prepare Exports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        624
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/berenczeiricsi/n8n-workflows/contents/workflows/{{ $json.file_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-backup-orchestrator"
            }
          ]
        },
        "options": {}
      },
      "id": "e181a8b5-9b9e-42ca-8885-a7ff7e965db2",
      "name": "Check Existing File on GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        640
      ],
      "credentials": {
        "githubApi": {
          "id": "CvPehiSAjYGHXtRx",
          "name": "GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ghResponse = $input.first().json;\nconst exp = $('Process One at a Time').first().json;\nconst existingSha = ghResponse.sha || null;\nconst isUpdate = !!existingSha;\nconst content = Buffer.from(exp.export_json, 'utf-8').toString('base64');\nconst action = isUpdate ? 'update' : 'create';\nconst message = action + ': ' + exp.workflow_name +\n  '\\n\\nWorkflow ID: ' + exp.workflow_id +\n  '\\nVersion: ' + (exp.version_counter || 'unknown') +\n  '\\nActive: ' + exp.active +\n  '\\nBackup: ' + exp.backup_timestamp;\nconst body = { message: message, content: content };\nif (existingSha) {\n  body.sha = existingSha;\n}\nreturn [{\n  json: {\n    file_path: exp.file_path,\n    workflow_name: exp.workflow_name,\n    workflow_id: exp.workflow_id,\n    action: action,\n    commit_body: body,\n  }\n}];"
      },
      "id": "6e4a4356-00b2-4be6-9ab2-885e6967811d",
      "name": "Prepare GitHub Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        640
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/berenczeiricsi/n8n-workflows/contents/workflows/{{ $json.file_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-backup-orchestrator"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.commit_body) }}",
        "options": {}
      },
      "id": "870cbbdb-fe00-4779-a15f-32bc223f498a",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        640
      ],
      "credentials": {
        "githubApi": {
          "id": "CvPehiSAjYGHXtRx",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'complete',\n    backup_timestamp: new Date().toISOString(),\n    repository: 'berenczeiricsi/n8n-workflows',\n    message: 'All BIG workflows have been backed up to GitHub. Check the repository commit history for details.',\n  }\n}];"
      },
      "id": "a2718a26-c2f9-42cf-84da-61f25391d16c",
      "name": "Backup Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        496
      ]
    },
    {
      "parameters": {
        "content": "## README\n- Owner: Richard Berenczei / richard.berenczei@pwc.com\n- Dependencies: n8n API credential, GitHub API credential (PAT with repo scope)\n- Target: github.com/berenczeiricsi/n8n-workflows → workflows/ directory\n- Logic Summary: Export all BIG-tagged workflows as clean JSON and commit them to GitHub for version control. Runs daily at 2 AM or on demand.\n\n## Setup\n1. Create an **n8n API key** at Settings → API → Create API Key\n2. Add an **n8n API credential** in n8n (type: n8n API) with that key\n3. Create a **GitHub Personal Access Token** with `repo` scope\n4. Add a **GitHub API credential** in n8n (type: GitHub API) with that token\n5. Assign both credentials to the highlighted nodes, then activate the workflow",
        "height": 868,
        "width": 1784,
        "color": 7
      },
      "id": "f2e04a21-d27b-4b28-996b-bcee2197310a",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Trigger / Input\nBlue section: scheduled daily backup at 2 AM UTC plus manual trigger for on-demand runs.",
        "height": 496,
        "width": 300,
        "color": 5
      },
      "id": "fb956008-3aec-4879-a23c-80a374d262a1",
      "name": "Trigger Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        384
      ]
    },
    {
      "parameters": {
        "content": "## Success Path\nGreen section: list all BIG-tagged workflows via n8n API, strip volatile fields (pinData, staticData), and prepare version-control-clean JSON exports.",
        "height": 496,
        "width": 600,
        "color": 4
      },
      "id": "64c5380c-bec6-425d-bf07-f43ea1568337",
      "name": "Export Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        384
      ]
    },
    {
      "parameters": {
        "content": "## Success Path (continued)\nGreen section: check if each file already exists on GitHub (to get its SHA for updates), build commit messages with version metadata, push via GitHub Contents API, and aggregate a backup summary.",
        "height": 496,
        "width": 836,
        "color": 4
      },
      "id": "8f9875f8-a6f9-4abc-8ba6-20616527792d",
      "name": "GitHub Section",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        384
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "71228696-7c60-43e3-99cb-495ab99bf271",
      "name": "List BIG Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        624
      ],
      "credentials": {
        "n8nApi": {
          "id": "o0echBBxxzTqffEb",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e8f2a58d-36cd-4bef-9ac6-38df9fb4a64f",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        624
      ]
    }
  ],
  "connections": {
    "Check Existing File on GitHub": {
      "main": [
        [
          {
            "node": "Prepare GitHub Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Commit": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily Backup": {
      "main": [
        [
          {
            "node": "List BIG Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Backup Manually": {
      "main": [
        [
          {
            "node": "List BIG Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List BIG Workflows": {
      "main": [
        [
          {
            "node": "Prepare Exports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Exports": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [
          {
            "node": "Backup Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Existing File on GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to GitHub": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": [
    "BIG"
  ]
}