workflows/BIG---Expose-Intake---Webhook.json
{
  "id": "i2tvtiP2wxLZ34wC",
  "name": "BIG - Expose Intake - Webhook",
  "nodes": [
    {
      "parameters": {
        "content": "## README\n- Owner: Richard Berenczei / richard.berenczei@pwc.com\n- Status: **Draft** — not yet activated for production use\n- Dependencies: Webhook Trigger, Respond to Webhook, BIG - Expose Processing Core sub-workflow\n- Logic Summary: Accept a PDF over HTTP POST, normalize the multipart request into the shared intake contract, process it through the core workflow, and return structured JSON synchronously to the caller.\n\n## Input Contract\n- **Endpoint:** `POST /webhook/big/expose-intake`\n- **Body:** multipart/form-data with a PDF file in the `pdf` field\n- **Optional JSON fields:** `source_filename`, `received_date`, `duplicate_mode` (skip/overwrite), `persist_result` (true/false), `persistence_mode` (postgres/none)\n\n## Output Contract\nReturns the Processing Core's final JSON payload as the HTTP response body (via Respond to Webhook node).\n\n## Normalized Handoff to Core\n`{ source_filename, ingestion_channel: \"webhook\", received_date, duplicate_mode, persist_result, persistence_mode }` + binary key `pdf`\n\n## Error Behavior\n- Throws if the request contains no PDF attachment\n- Downstream errors are handled by the Processing Core and the global Error Handler (PIlbEFexoMxalpwB)",
        "height": 612,
        "width": 1032,
        "color": 7
      },
      "id": "bdbe7c33-8b0b-49d4-a9b5-5fc5e60a7536",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -432
      ]
    },
    {
      "parameters": {
        "content": "## Trigger / Input\nBlue section: production webhook entry for external systems uploading a single exposé PDF.",
        "height": 324,
        "width": 256,
        "color": 5
      },
      "id": "a99e66ce-3a4f-41bb-b1c5-cc937e5645e8",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        208
      ]
    },
    {
      "parameters": {
        "content": "## Success Path\nGreen section: align incoming multipart payloads to the common contract and invoke the extraction core.",
        "height": 324,
        "width": 424,
        "color": 4
      },
      "id": "a069c6ba-eaef-4399-a568-39efd9027210",
      "name": "Normalize & Execute",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        208
      ]
    },
    {
      "parameters": {
        "content": "## Success Path\nGreen section: return the final structured dataset to the webhook caller after the core finishes.",
        "height": 324,
        "width": 256,
        "color": 4
      },
      "id": "cb7a4ff9-7a52-47e8-a681-064713be4b38",
      "name": "Respond to Caller",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "big/expose-intake",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "pdf"
        }
      },
      "id": "webhook-trigger",
      "webhookId": "6746db5f-b3ef-4060-9b8e-d7ccc204ce86",
      "name": "Exposé-Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var inputItem = $input.first() || {};\nvar sourceJson = inputItem.json || {};\nvar sourceBinary = inputItem.binary || {};\nvar binaryKeys = Object.keys(sourceBinary);\nvar pdfKey = null;\nfor (var index = 0; index < binaryKeys.length; index += 1) {\n  var file = sourceBinary[binaryKeys[index]] || {};\n  var fileName = String(file.fileName || '').toLowerCase();\n  var mimeType = String(file.mimeType || '').toLowerCase();\n  if (mimeType === 'application/pdf' || fileName.endsWith('.pdf')) {\n    pdfKey = binaryKeys[index];\n    break;\n  }\n}\nif (!pdfKey) {\n  throw new Error('The webhook request did not include a PDF file.');\n}\nvar duplicateMode = String(sourceJson.duplicate_mode || sourceJson.duplicateMode || sourceJson['Duplicate Mode'] || 'overwrite').toLowerCase();\nif (['skip', 'overwrite'].indexOf(duplicateMode) === -1) {\n  duplicateMode = 'overwrite';\n}\nreturn [{\n  json: {\n    source_filename: sourceJson.source_filename || sourceBinary[pdfKey].fileName || 'webhook-upload.pdf',\n    ingestion_channel: 'webhook',\n    received_date: sourceJson.received_date || sourceJson.receivedDate || null,\n    duplicate_mode: duplicateMode,\n    persist_result: !(sourceJson.persist_result === false || sourceJson.persist_result === 'false'),\n    persistence_mode: sourceJson.persistence_mode === 'none' ? 'none' : 'postgres'\n  },\n  binary: {\n    pdf: sourceBinary[pdfKey]\n  }\n}];"
      },
      "id": "normalize-webhook",
      "name": "Webhook-Upload normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        368
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8xeeU5hMqDqhnpE",
          "mode": "list",
          "cachedResultUrl": "/workflow/i8xeeU5hMqDqhnpE",
          "cachedResultName": "BIG - Expose Processing Core"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-core",
      "name": "Expose Processing Core ausführen",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Strukturiertes Ergebnis zurückgeben",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        368
      ]
    }
  ],
  "connections": {
    "Exposé-Upload Webhook": {
      "main": [
        [
          {
            "node": "Webhook-Upload normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-Upload normalisieren": {
      "main": [
        [
          {
            "node": "Expose Processing Core ausführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expose Processing Core ausführen": {
      "main": [
        [
          {
            "node": "Strukturiertes Ergebnis zurückgeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "PIlbEFexoMxalpwB"
  },
  "pinData": {},
  "tags": [
    "BIG"
  ]
}