workflows/BIG---Expose-Location-Enrichment.json
{
  "id": "xng5XTPpmEodUlmp",
  "name": "BIG - Expose Location Enrichment",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "06062a81-e1a9-4b8f-9ff0-92e0cec9931f",
      "name": "Receive Enrichment Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const payload = JSON.parse(JSON.stringify(item.json || {}));\n  const address = payload.address && typeof payload.address === 'object' ? payload.address : {};\n  const runtime = payload._runtime && typeof payload._runtime === 'object' ? payload._runtime : {};\n\n  if (!payload.location_enrichment || typeof payload.location_enrichment !== 'object') {\n    payload.location_enrichment = {\n      latitude: null,\n      longitude: null,\n      aerial_image_url: null,\n      location_description: null,\n      public_transport_access: null,\n      distance_city_center_min: null,\n      distance_train_station_min: null,\n      distance_airport_min: null,\n      infrastructure: [],\n    };\n  }\n\n  if (!payload.processing_metadata || typeof payload.processing_metadata !== 'object') {\n    payload.processing_metadata = {\n      document_id: null,\n      source_filename: null,\n      ingestion_channel: null,\n      processed_at: null,\n      status: null,\n      validation_errors: [],\n    };\n  }\n\n  if (!Array.isArray(payload.processing_metadata.validation_errors)) {\n    payload.processing_metadata.validation_errors = [];\n  }\n\n  const streetLine = [address.street, address.house_number].filter(Boolean).join(' ').trim();\n  const localityLine = [address.postal_code, address.city].filter(Boolean).join(' ').trim();\n  const hasMeaningfulAddress = Boolean(streetLine || localityLine);\n  const fullAddress = hasMeaningfulAddress\n    ? [streetLine, localityLine, address.country || 'Austria'].filter(Boolean).join(', ')\n    : null;\n\n  payload._runtime = {\n    ...runtime,\n    enrichment_attempted: hasMeaningfulAddress,\n    enrichment_failed: false,\n    enrichment_errors: Array.isArray(runtime.enrichment_errors) ? runtime.enrichment_errors : [],\n    infrastructure: Array.isArray(runtime.infrastructure) ? runtime.infrastructure : [],\n    full_address: fullAddress,\n    expose_location_description: payload.location_enrichment.location_description || null,\n  };\n\n  return { json: payload };\n});"
      },
      "id": "7173c12e-2092-4605-9b72-6d82a866b4c2",
      "name": "Prepare Enrichment Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        864
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json._runtime.full_address || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2b339f8-5adb-45bd-a7ac-97d4dca78da9",
      "name": "Geocode Address",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        832
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpQueryAuth": {
          "id": "uQJYTRO4n009dJ39",
          "name": "Google Maps Geocoding"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse(JSON.stringify($('Prepare Enrichment Request').first().json || {}));\nconst response = $input.first()?.json || {};\nconst runtime = payload._runtime && typeof payload._runtime === 'object' ? payload._runtime : {};\nconst errors = Array.isArray(runtime.enrichment_errors) ? [...runtime.enrichment_errors] : [];\n\nlet latitude = null;\nlet longitude = null;\n\nif (response.error) {\n  errors.push(`geocode:${response.error.message || response.error}`);\n}\n\nif (response.status === 'OK' && Array.isArray(response.results) && response.results[0]?.geometry?.location) {\n  latitude = Number(response.results[0].geometry.location.lat);\n  longitude = Number(response.results[0].geometry.location.lng);\n}\n\nif ((latitude === null || Number.isNaN(latitude)) || (longitude === null || Number.isNaN(longitude))) {\n  latitude = null;\n  longitude = null;\n  if (runtime.enrichment_attempted) {\n    errors.push(`geocode_status:${response.status || 'UNAVAILABLE'}`);\n  }\n}\n\npayload.location_enrichment.latitude = latitude;\npayload.location_enrichment.longitude = longitude;\npayload._runtime = {\n  ...runtime,\n  enrichment_errors: Array.from(new Set(errors)),\n  geocode_status: response.status || null,\n};\n\nreturn [{ json: payload }];"
      },
      "id": "74c1d810-4fdd-4646-9416-78a9b0b3a6d1",
      "name": "Process Geocode Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.location,places.rating"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"train_station\"],\n  \"maxResultCount\": 5,\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n        \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n      },\n      \"radius\": 5000\n    }\n  }\n}",
        "options": {}
      },
      "id": "ca8b0b4d-1fe3-40c3-ada4-e11cd2e609b9",
      "name": "Find Nearby Train Station",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse(JSON.stringify($('Process Geocode Result').first().json || {}));\nconst response = $input.first()?.json || {};\nconst errors = Array.isArray(payload._runtime?.enrichment_errors) ? [...payload._runtime.enrichment_errors] : [];\n\nif (response.error) {\n  errors.push(`train_station:${response.error.message || response.error}`);\n}\n\nlet nearestTrainStation = null;\nif (Array.isArray(response.places) && response.places.length > 0) {\n  const place = response.places[0];\n  nearestTrainStation = {\n    name: place.displayName?.text || null,\n    address: place.formattedAddress || null,\n    latitude: Number(place.location?.latitude ?? null),\n    longitude: Number(place.location?.longitude ?? null),\n    rating: typeof place.rating === 'number' ? place.rating : null,\n  };\n}\n\npayload._runtime = {\n  ...payload._runtime,\n  nearest_train_station: nearestTrainStation,\n  enrichment_errors: Array.from(new Set(errors)),\n};\n\nreturn [{ json: payload }];"
      },
      "id": "488a9e0c-ea4d-468a-a888-ec38717950aa",
      "name": "Process Train Station",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.location,places.rating"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"airport\"],\n  \"maxResultCount\": 5,\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n        \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n      },\n      \"radius\": 50000\n    }\n  }\n}",
        "options": {}
      },
      "id": "1c92c738-bd43-4126-b506-9155009c6017",
      "name": "Find Nearby Airport",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2096,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse(JSON.stringify($('Process Train Station').first().json || {}));\nconst response = $input.first()?.json || {};\nconst errors = Array.isArray(payload._runtime?.enrichment_errors) ? [...payload._runtime.enrichment_errors] : [];\n\nif (response.error) {\n  errors.push(`airport:${response.error.message || response.error}`);\n}\n\nlet nearestAirport = null;\nif (Array.isArray(response.places) && response.places.length > 0) {\n  const place = response.places[0];\n  nearestAirport = {\n    name: place.displayName?.text || null,\n    address: place.formattedAddress || null,\n    latitude: Number(place.location?.latitude ?? null),\n    longitude: Number(place.location?.longitude ?? null),\n    rating: typeof place.rating === 'number' ? place.rating : null,\n  };\n}\n\npayload._runtime = {\n  ...payload._runtime,\n  nearest_airport: nearestAirport,\n  enrichment_errors: Array.from(new Set(errors)),\n};\n\nreturn [{ json: payload }];"
      },
      "id": "b301a085-beb1-425f-8443-9f3dd32d69c7",
      "name": "Process Airport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.location"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"school\", \"university\"],\n  \"maxResultCount\": 10,\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n        \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n      },\n      \"radius\": 2500\n    }\n  }\n}",
        "options": {}
      },
      "id": "d920c7c7-4429-4f3c-886f-ca879d261e7b",
      "name": "Find Education Infrastructure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2544,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var payload = JSON.parse(JSON.stringify($('Process Airport').first().json || {}));\nvar response = $input.first()?.json || {};\nvar errors = Array.isArray(payload._runtime?.enrichment_errors) ? payload._runtime.enrichment_errors.slice() : [];\n\nif (response.error) {\n  errors.push('education:' + (response.error.message || response.error));\n}\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n  var numericValues = [lat1, lon1, lat2, lon2].map(function(value) {\n    return Number(value);\n  });\n  var distance = null;\n  if (!numericValues.some(function(value) { return !Number.isFinite(value); })) {\n    var toRad = function(deg) { return (deg * Math.PI) / 180; };\n    var earthRadiusM = 6371000;\n    var dLat = toRad(numericValues[2] - numericValues[0]);\n    var dLon = toRad(numericValues[3] - numericValues[1]);\n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(toRad(numericValues[0])) * Math.cos(toRad(numericValues[2])) * Math.sin(dLon / 2) * Math.sin(dLon / 2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    distance = Math.round(earthRadiusM * c);\n  }\n  return { value: distance };\n}\n\nvar originLat = payload.location_enrichment ? payload.location_enrichment.latitude : null;\nvar originLon = payload.location_enrichment ? payload.location_enrichment.longitude : null;\nvar infrastructure = Array.isArray(payload._runtime?.infrastructure) ? payload._runtime.infrastructure.slice() : [];\nvar places = Array.isArray(response.places) ? response.places : [];\nfor (var index = 0; index < Math.min(places.length, 5); index += 1) {\n  var place = places[index];\n  infrastructure.push({\n    category: 'education',\n    name: place.displayName?.text || null,\n    address: place.formattedAddress || null,\n    distance_m: distanceMeters(originLat, originLon, place.location?.latitude, place.location?.longitude).value,\n  });\n}\n\npayload._runtime = {\n  ...payload._runtime,\n  infrastructure,\n  enrichment_errors: Array.from(new Set(errors)),\n};\n\nreturn [{ json: payload }];"
      },
      "id": "a2c1d711-c14a-45ea-a41b-d9b19ae526b8",
      "name": "Process Education Infrastructure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.location"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"hospital\", \"pharmacy\", \"doctor\"],\n  \"maxResultCount\": 10,\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n        \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n      },\n      \"radius\": 2500\n    }\n  }\n}",
        "options": {}
      },
      "id": "7e4b59b7-04c1-4b59-82fa-12745bd2eab4",
      "name": "Find Healthcare Infrastructure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2992,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var payload = JSON.parse(JSON.stringify($('Process Education Infrastructure').first().json || {}));\nvar response = $input.first()?.json || {};\nvar errors = Array.isArray(payload._runtime?.enrichment_errors) ? payload._runtime.enrichment_errors.slice() : [];\n\nif (response.error) {\n  errors.push('healthcare:' + (response.error.message || response.error));\n}\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n  var numericValues = [lat1, lon1, lat2, lon2].map(function(value) {\n    return Number(value);\n  });\n  var distance = null;\n  if (!numericValues.some(function(value) { return !Number.isFinite(value); })) {\n    var toRad = function(deg) { return (deg * Math.PI) / 180; };\n    var earthRadiusM = 6371000;\n    var dLat = toRad(numericValues[2] - numericValues[0]);\n    var dLon = toRad(numericValues[3] - numericValues[1]);\n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(toRad(numericValues[0])) * Math.cos(toRad(numericValues[2])) * Math.sin(dLon / 2) * Math.sin(dLon / 2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    distance = Math.round(earthRadiusM * c);\n  }\n  return { value: distance };\n}\n\nvar originLat = payload.location_enrichment ? payload.location_enrichment.latitude : null;\nvar originLon = payload.location_enrichment ? payload.location_enrichment.longitude : null;\nvar infrastructure = Array.isArray(payload._runtime?.infrastructure) ? payload._runtime.infrastructure.slice() : [];\nvar places = Array.isArray(response.places) ? response.places : [];\nfor (var index = 0; index < Math.min(places.length, 5); index += 1) {\n  var place = places[index];\n  infrastructure.push({\n    category: 'healthcare',\n    name: place.displayName?.text || null,\n    address: place.formattedAddress || null,\n    distance_m: distanceMeters(originLat, originLon, place.location?.latitude, place.location?.longitude).value,\n  });\n}\n\npayload._runtime = {\n  ...payload._runtime,\n  infrastructure,\n  enrichment_errors: Array.from(new Set(errors)),\n};\n\nreturn [{ json: payload }];"
      },
      "id": "2c14a06f-2a49-41f5-be0e-4effc5b85718",
      "name": "Process Healthcare Infrastructure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.location"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"supermarket\", \"grocery_store\", \"shopping_mall\"],\n  \"maxResultCount\": 10,\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n        \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n      },\n      \"radius\": 1500\n    }\n  }\n}",
        "options": {}
      },
      "id": "1f3b9f44-9e53-47d5-bee0-eebd063477b8",
      "name": "Find Daily Retail Infrastructure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3440,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var payload = JSON.parse(JSON.stringify($('Process Healthcare Infrastructure').first().json || {}));\nvar response = $input.first()?.json || {};\nvar errors = Array.isArray(payload._runtime?.enrichment_errors) ? payload._runtime.enrichment_errors.slice() : [];\n\nif (response.error) {\n  errors.push('retail:' + (response.error.message || response.error));\n}\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n  var numericValues = [lat1, lon1, lat2, lon2].map(function(value) {\n    return Number(value);\n  });\n  var distance = null;\n  if (!numericValues.some(function(value) { return !Number.isFinite(value); })) {\n    var toRad = function(deg) { return (deg * Math.PI) / 180; };\n    var earthRadiusM = 6371000;\n    var dLat = toRad(numericValues[2] - numericValues[0]);\n    var dLon = toRad(numericValues[3] - numericValues[1]);\n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(toRad(numericValues[0])) * Math.cos(toRad(numericValues[2])) * Math.sin(dLon / 2) * Math.sin(dLon / 2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    distance = Math.round(earthRadiusM * c);\n  }\n  return { value: distance };\n}\n\nvar originLat = payload.location_enrichment ? payload.location_enrichment.latitude : null;\nvar originLon = payload.location_enrichment ? payload.location_enrichment.longitude : null;\nvar infrastructure = Array.isArray(payload._runtime?.infrastructure) ? payload._runtime.infrastructure.slice() : [];\nvar places = Array.isArray(response.places) ? response.places : [];\nfor (var index = 0; index < Math.min(places.length, 5); index += 1) {\n  var place = places[index];\n  infrastructure.push({\n    category: 'retail',\n    name: place.displayName?.text || null,\n    address: place.formattedAddress || null,\n    distance_m: distanceMeters(originLat, originLon, place.location?.latitude, place.location?.longitude).value,\n  });\n}\n\npayload._runtime = {\n  ...payload._runtime,\n  infrastructure,\n  enrichment_errors: Array.from(new Set(errors)),\n};\n\nreturn [{ json: payload }];"
      },
      "id": "d9a100f3-d956-485c-87d5-8c1d0b9c97c7",
      "name": "Process Daily Retail Infrastructure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "originIndex,destinationIndex,duration,condition,status"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"origins\": [\n    {\n      \"waypoint\": {\n        \"location\": {\n          \"latLng\": {\n            \"latitude\": {{ $json.location_enrichment.latitude || 0 }},\n            \"longitude\": {{ $json.location_enrichment.longitude || 0 }}\n          }\n        }\n      }\n    }\n  ],\n  \"destinations\": [\n    {\n      \"waypoint\": {\n        \"address\": {{ JSON.stringify(((($json.address && $json.address.city) ? $json.address.city : 'Wien') + ' Zentrum, ' + (($json.address && $json.address.country) ? $json.address.country : 'Austria')).trim()) }}\n      }\n    },\n    {\n      \"waypoint\": {\n        \"location\": {\n          \"latLng\": {\n            \"latitude\": {{ ($json._runtime && $json._runtime.nearest_train_station && $json._runtime.nearest_train_station.latitude != null) ? $json._runtime.nearest_train_station.latitude : ($json.location_enrichment.latitude || 0) }},\n            \"longitude\": {{ ($json._runtime && $json._runtime.nearest_train_station && $json._runtime.nearest_train_station.longitude != null) ? $json._runtime.nearest_train_station.longitude : ($json.location_enrichment.longitude || 0) }}\n          }\n        }\n      }\n    },\n    {\n      \"waypoint\": {\n        \"location\": {\n          \"latLng\": {\n            \"latitude\": {{ ($json._runtime && $json._runtime.nearest_airport && $json._runtime.nearest_airport.latitude != null) ? $json._runtime.nearest_airport.latitude : ($json.location_enrichment.latitude || 0) }},\n            \"longitude\": {{ ($json._runtime && $json._runtime.nearest_airport && $json._runtime.nearest_airport.longitude != null) ? $json._runtime.nearest_airport.longitude : ($json.location_enrichment.longitude || 0) }}\n          }\n        }\n      }\n    }\n  ],\n  \"travelMode\": \"TRANSIT\",\n  \"departureTime\": {{ JSON.stringify(new Date().toISOString()) }}\n}",
        "options": {}
      },
      "id": "51928d0b-4dd3-4b9e-854b-12d1f5761219",
      "name": "Calculate Transit Times",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3888,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZSR5bbCgLY3fRuZf",
          "name": "Google Maps Places & Routes"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var inputItems = $input.all();\nvar firstInputJson = inputItems[0] ? (inputItems[0].json || {}) : {};\n\nvar retailItems = [];\ntry { retailItems = $('Process Daily Retail Infrastructure').all(); } catch (e) { /* node not executed */ }\nvar geocodeItems = [];\ntry { geocodeItems = $('Process Geocode Result').all(); } catch (e) { /* node not executed */ }\n\nvar payloadSource = firstInputJson;\nif (retailItems.length) {\n  payloadSource = retailItems[0].json || firstInputJson;\n} else if (firstInputJson.location_enrichment && firstInputJson.processing_metadata) {\n  payloadSource = firstInputJson;\n} else if (geocodeItems.length) {\n  payloadSource = geocodeItems[0].json || firstInputJson;\n}\n\nvar payload = JSON.parse(JSON.stringify(payloadSource || {}));\nvar runtime = payload._runtime && typeof payload._runtime === 'object' ? payload._runtime : {};\nvar errors = Array.isArray(runtime.enrichment_errors) ? runtime.enrichment_errors.slice() : [];\n\nvar routeMatrixElements = [];\nfor (var itemIndex = 0; itemIndex < inputItems.length; itemIndex += 1) {\n  var itemJson = inputItems[itemIndex] ? (inputItems[itemIndex].json || {}) : {};\n  if (itemJson && itemJson.location_enrichment && itemJson.processing_metadata) {\n    continue;\n  }\n  if (itemJson.error) {\n    errors.push('route_matrix:' + (itemJson.error.message || itemJson.error));\n  }\n  if (itemJson.destinationIndex != null) {\n    routeMatrixElements.push(itemJson);\n  }\n}\n\nfunction durationToMinutes(value) {\n  var minutes = null;\n  if (typeof value === 'string') {\n    var match = value.match(/^([0-9.]+)s$/);\n    if (match) {\n      var seconds = Number(match[1]);\n      minutes = Number.isFinite(seconds) ? Math.round(seconds / 60) : null;\n    }\n  }\n  return { value: minutes };\n}\n\nvar cityMinutes = null;\nvar trainMinutes = null;\nvar airportMinutes = null;\nfor (var routeIndex = 0; routeIndex < routeMatrixElements.length; routeIndex += 1) {\n  var element = routeMatrixElements[routeIndex];\n  if (!element || element.condition !== 'ROUTE_EXISTS') {\n    continue;\n  }\n  var minutes = durationToMinutes(element.duration).value;\n  if (minutes == null) {\n    continue;\n  }\n  if (element.destinationIndex === 0) cityMinutes = minutes;\n  if (element.destinationIndex === 1) trainMinutes = minutes;\n  if (element.destinationIndex === 2) airportMinutes = minutes;\n}\n\npayload.location_enrichment.distance_city_center_min = cityMinutes;\npayload.location_enrichment.distance_train_station_min = trainMinutes;\npayload.location_enrichment.distance_airport_min = airportMinutes;\npayload.location_enrichment.aerial_image_url = null;\n\nvar infrastructure = [];\nvar runtimeInfrastructure = Array.isArray(runtime.infrastructure) ? runtime.infrastructure : [];\nfor (var infraIndex = 0; infraIndex < runtimeInfrastructure.length; infraIndex += 1) {\n  var entry = runtimeInfrastructure[infraIndex];\n  if (entry && (entry.name || entry.address)) infrastructure.push(entry);\n}\npayload.location_enrichment.infrastructure = infrastructure;\n\nvar counts = { education: 0, healthcare: 0, retail: 0, other: 0 };\nfor (var countIndex = 0; countIndex < infrastructure.length; countIndex += 1) {\n  var infraEntry = infrastructure[countIndex];\n  var category = infraEntry.category || 'other';\n  if (Object.prototype.hasOwnProperty.call(counts, category)) counts[category] += 1;\n  else counts.other += 1;\n}\n\nvar address = payload.address && typeof payload.address === 'object' ? payload.address : {};\nvar generatedLocationSummary = [];\nif (address.city) generatedLocationSummary.push('Micro-location in ' + address.city);\nif (trainMinutes != null) generatedLocationSummary.push('nearest train station about ' + trainMinutes + ' min by public transport');\nif (airportMinutes != null) generatedLocationSummary.push('airport about ' + airportMinutes + ' min by public transport');\nif (counts.education) generatedLocationSummary.push(String(counts.education) + ' education POIs found nearby');\nif (counts.healthcare) generatedLocationSummary.push(String(counts.healthcare) + ' healthcare POIs found nearby');\nif (counts.retail) generatedLocationSummary.push(String(counts.retail) + ' retail POIs found nearby');\nif (runtime.expose_location_description) payload.location_enrichment.location_description = runtime.expose_location_description;\nelse if (generatedLocationSummary.length) payload.location_enrichment.location_description = generatedLocationSummary.join('; ');\nelse payload.location_enrichment.location_description = null;\n\nvar publicTransportSummary = [];\nif (cityMinutes != null) publicTransportSummary.push('city center about ' + cityMinutes + ' min');\nif (trainMinutes != null) publicTransportSummary.push('train station about ' + trainMinutes + ' min');\nif (airportMinutes != null) publicTransportSummary.push('airport about ' + airportMinutes + ' min');\npayload.location_enrichment.public_transport_access = publicTransportSummary.length ? publicTransportSummary.join('; ') : null;\n\npayload._runtime = {\n  ...runtime,\n  enrichment_errors: Array.from(new Set(errors)),\n  enrichment_failed: Boolean(runtime.enrichment_attempted && (payload.location_enrichment.latitude == null || payload.location_enrichment.longitude == null || errors.length > 0))\n};\n\nreturn [{ json: payload }];"
      },
      "id": "a4abf63b-afb6-4177-a5e3-543a762a7d6c",
      "name": "Finalize Location Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-coordinates",
              "leftValue": "={{ $json.location_enrichment.latitude !== null && $json.location_enrichment.longitude !== null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13667e05-890f-488d-9fd6-2bd6c7f73f93",
      "name": "Coordinates Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        816
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## README\n- Owner: Richard Berenczei / richard.berenczei@pwc.com\n- Dependencies: BIG Google Maps Geocoding credential, BIG Google Maps Places & Routes credential\n- Logic Summary: Geocode the extracted address, query nearby transport and infrastructure POIs via Google APIs, calculate transit times, and return a non-blocking enrichment payload.\n\n## Input Contract\nCalled via `executeWorkflow` from Processing Core. Expects the full extraction payload with at minimum:\n```\n{ address: { country, postal_code, city, street, house_number },\n  location_enrichment: { ... },\n  _runtime: { ... } }\n```\n\n## Output Contract\nReturns the same payload with `location_enrichment` populated:\n```\nlocation_enrichment: {\n  latitude, longitude, aerial_image_url,\n  location_description, public_transport_access,\n  distance_city_center_min, distance_train_station_min,\n  distance_airport_min, infrastructure: [...]\n}\n```\nIf geocoding fails or no coordinates are available, all location fields are returned as `null` with an empty infrastructure array.\n\n## Decision Gates\n1. **Meaningful Address Available?** — skips geocoding entirely if address lacks street-level detail\n2. **Coordinates Available?** — skips infrastructure lookups if geocoding returned no coordinates\n\n## Error Behavior\n- All API failures are **non-blocking**: the workflow always returns a valid payload\n- Errors are collected in `_runtime.enrichment_errors[]`\n- `_runtime.enrichment_failed` is set to `true` if coordinates are missing or errors occurred",
        "height": 1264,
        "width": 4252,
        "color": 7
      },
      "id": "34a18057-9b95-4c96-8b2a-49696f8bb894",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Trigger / Input\nBlue section: receive the extracted payload, normalize enrichment state, and geocode the full address.",
        "height": 352,
        "width": 1480,
        "color": 5
      },
      "id": "987078d3-4c03-4b9b-9f2c-e0b251cce755",
      "name": "Input & Geocoding",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        736
      ]
    },
    {
      "parameters": {
        "content": "## Success Path\nGreen section: when coordinates exist, collect nearby transport and infrastructure context from Google APIs.",
        "height": 284,
        "width": 2472,
        "color": 4
      },
      "id": "d075fc93-7c61-4b28-b45c-ffcfeab88f33",
      "name": "Enrichment Branch",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        448
      ]
    },
    {
      "parameters": {
        "content": "## Error / Recovery\nRed section: keep geocoding or downstream API failures non-blocking and still emit a valid enrichment object with null fallbacks.",
        "height": 352,
        "width": 2480,
        "color": 3
      },
      "id": "821150fd-dacd-42bf-8d69-9a925ffef209",
      "name": "Fallback & Finalize",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "meaningful-address-true",
              "leftValue": "={{ !!$json._runtime.enrichment_attempted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47e16408-5ca7-4249-9a48-4771b88028f2",
      "name": "Meaningful Address Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        848
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Receive Enrichment Payload": {
      "main": [
        [
          {
            "node": "Prepare Enrichment Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode Address": {
      "main": [
        [
          {
            "node": "Process Geocode Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Nearby Train Station": {
      "main": [
        [
          {
            "node": "Process Train Station",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Train Station": {
      "main": [
        [
          {
            "node": "Find Nearby Airport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Nearby Airport": {
      "main": [
        [
          {
            "node": "Process Airport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Airport": {
      "main": [
        [
          {
            "node": "Find Education Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Education Infrastructure": {
      "main": [
        [
          {
            "node": "Process Education Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Education Infrastructure": {
      "main": [
        [
          {
            "node": "Find Healthcare Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Healthcare Infrastructure": {
      "main": [
        [
          {
            "node": "Process Healthcare Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Healthcare Infrastructure": {
      "main": [
        [
          {
            "node": "Find Daily Retail Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Daily Retail Infrastructure": {
      "main": [
        [
          {
            "node": "Process Daily Retail Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Daily Retail Infrastructure": {
      "main": [
        [
          {
            "node": "Calculate Transit Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Transit Times": {
      "main": [
        [
          {
            "node": "Finalize Location Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Geocode Result": {
      "main": [
        [
          {
            "node": "Coordinates Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coordinates Available?": {
      "main": [
        [
          {
            "node": "Find Nearby Train Station",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Location Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enrichment Request": {
      "main": [
        [
          {
            "node": "Meaningful Address Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meaningful Address Available?": {
      "main": [
        [
          {
            "node": "Geocode Address",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Location Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": [
    "BIG"
  ]
}