workflows/BIG---Expose-Processing-Core.json
{
  "id": "i8xeeU5hMqDqhnpE",
  "name": "BIG - Expose Processing Core",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "6cc7b8cd-d1fc-4fb1-b930-be38b63ebb1a",
      "name": "Receive Intake Payload",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        528,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binary = item.binary || {};\n  const binaryKeys = Object.keys(binary);\n  if (!binaryKeys.length) {\n    throw new Error('No PDF binary payload was provided to the Processing Core workflow.');\n  }\n\n  const sourceBinary = {};\n  let foundPdf = false;\n  for (const key of binaryKeys) {\n    const file = binary[key] || {};\n    const fileName = String(file.fileName || '').toLowerCase();\n    const mimeType = String(file.mimeType || '').toLowerCase();\n    if (mimeType === 'application/pdf' || fileName.endsWith('.pdf')) {\n      sourceBinary.pdf = binary[key];\n      foundPdf = true;\n      break;\n    }\n  }\n  if (!foundPdf) {\n    sourceBinary.pdf = binary[binaryKeys[0]];\n  }\n\n  const source = item.json || {};\n  results.push({\n    json: {\n      source_filename: source.source_filename || sourceBinary.pdf.fileName || 'unknown.pdf',\n      ingestion_channel: source.ingestion_channel || 'unknown',\n      received_date: source.received_date || null,\n      document_hash: null,\n      duplicate_mode: String(source.duplicate_mode || 'overwrite').toLowerCase(),\n      persist_result: source.persist_result !== false,\n      persistence_mode: source.persistence_mode === 'none' ? 'none' : 'postgres',\n      pdf_base64_data: source.pdf_base64_data || null,\n    },\n    binary: sourceBinary,\n  });\n}\nreturn results;"
      },
      "id": "b16d8ca3-0cfc-4c6c-8ef9-2f65dbdf37a7",
      "name": "Normalize Intake Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1072
      ]
    },
    {
      "parameters": {
        "binaryData": true,
        "binaryPropertyName": "pdf",
        "dataPropertyName": "document_hash"
      },
      "id": "3c0fe063-e5a0-4ead-8a6d-98e7ec0cba79",
      "name": "Hash Source PDF",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        976,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst normalizedItems = $('Normalize Intake Payload').all();\n\nconst results = [];\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const source = item.json || {};\n  const normalizedItem = normalizedItems[index] || normalizedItems[0] || {};\n  const sourceBinary = (item.binary && Object.keys(item.binary).length > 0)\n    ? item.binary\n    : (normalizedItem.binary || {});\n\n  const pdfSizeBytes = sourceBinary.pdf?.bytes || sourceBinary.pdf?.fileSize || null;\n  const pdfMimeType = sourceBinary.pdf?.mimeType || 'application/pdf';\n\n  results.push({\n    json: {\n      received_date: source.received_date || null,\n      document_type: null,             // expose | other  (AI classification)\n      project_name: null,\n      asset_class: null,               // Wohnen | Office | Retail | Gewerbe | Health Care | Logistik | Sicherheit | Bildung\n      provider: null,\n      provider_contact: {\n        name: null,\n        company: null,\n        phone: null,\n        email: null,\n      },\n      owner: null,\n      address: {\n        country: 'Austria',\n        state: null,                   // Bundesland (derived from PLZ + city)\n        postal_code: null,\n        city: null,\n        street: null,\n        house_number: null,\n      },\n      areas: {\n        usable_area_m2: null,\n        realizable_usable_area_m2: null,  // Realisierbare Nutzfläche\n        gross_floor_area_m2: null,         // BFG (Bruttoflächengesamt)\n        plot_area_m2: null,\n        rented_area_m2: null,              // Vermietete Flächen m²\n        vacancy_area_m2: null,             // Leerstand m²\n      },\n      financials: {\n        target_rent_pa_eur: null,\n        actual_rent_pa_eur: null,\n        asking_price_eur: null,\n        price_per_m2_usable_area: null,\n        price_per_m2_land: null,\n        rental_units_count: null,          // Anzahl Mieteinnahmen\n        broker_commission: null,           // Maklerprovision (string, e.g. \"3% zzgl. USt\")\n        bidding_process: null,             // Bieterverfahren (boolean)\n      },\n      property: {\n        property_type: null,\n        object_category: null,             // Objekttyp: Bestand | Grundstück | Projekt\n        ownership_type: null,\n        construction_year: null,\n        heritage_protection: null,\n        vacancy: null,\n        parking_spaces: null,\n        land_register: null,               // Grundbuchsdaten\n        planned_use: null,                 // Nutzung (geplant)\n        zoning: null,                      // Widmung\n        building_class: null,              // Bauklasse\n      },\n      returns: {\n        gross_initial_yield_actual: null,\n        gross_initial_yield_target: null,\n      },\n      notes: null,\n      location_enrichment: {\n        latitude: null,\n        longitude: null,\n        map_url: null,                     // OpenStreetMap link generated from lat/lon\n        aerial_image_url: null,\n        location_description: null,\n        public_transport_access: null,\n        distance_city_center_min: null,\n        distance_train_station_min: null,\n        distance_airport_min: null,\n        infrastructure: [],\n      },\n      market_context: {\n        potential_revenue: null,\n        demographics: {\n          population_development: null,\n          purchasing_power: null,\n        },\n      },\n      processing_metadata: {\n        document_id: source.document_hash || null,\n        source_filename: source.source_filename || null,\n        ingestion_channel: source.ingestion_channel || null,\n        processed_at: null,\n        status: 'pending',\n        validation_errors: [],\n      },\n        _runtime: {\n        duplicate_mode: source.duplicate_mode || 'overwrite',\n        persist_result: source.persist_result !== false,\n        persistence_mode: source.persistence_mode || 'postgres',\n        duplicate_lookup_requested: source.persist_result !== false && source.persistence_mode !== 'none' ? 1 : null,\n        duplicate_found: false,\n        reuse_existing_marker: null,\n        reused_payload: null,\n        duplicate_lookup_error: null,\n        extracted_text: null,\n        expose_location_description: null,\n        ai_error: null,\n        enrichment_failed: false,\n        persistence_error: null,\n        persist_result_marker: null,\n        document_hash: source.document_hash || null,\n        source_filename: source.source_filename || null,\n        pdf_base64: source.pdf_base64_data || null,\n        pdf_size_bytes: pdfSizeBytes,\n        pdf_mime_type: pdfMimeType,\n      },\n    },\n    binary: sourceBinary,  // Binary stripped here: hash already computed, pdf.js extraction handled separately\n  });\n}\nreturn results;"
      },
      "id": "bc0f42f2-c1cc-4b8b-a6e1-7e36f3b75c40",
      "name": "Initialize Extraction Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "exposes"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "pdf_hash",
              "value": "={{ $json.processing_metadata.document_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e4d7ab8-5cd4-40e0-8bd2-aa10edcbe4ca",
      "name": "Lookup Existing Extraction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MVM5oN5EAOUZFjaG",
          "name": "Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const baseItem = $('Initialize Extraction Context').first();\nconst base = JSON.parse(JSON.stringify(baseItem.json || {}));\nconst binary = baseItem.binary || {};\nconst lookupItem = $input.first();\nconst lookup = lookupItem ? (lookupItem.json || {}) : {};\nconst runtime = base._runtime && typeof base._runtime === 'object' ? base._runtime : {};\nconst lookupPayload = lookup.payload_jsonb ?? lookup.json_payload ?? null;\nconst lookupMatched =\n  lookup.found === true ||\n  lookup.id != null ||\n  lookup.pdf_hash != null ||\n  lookupPayload != null;\n\nif (lookup.error) {\n  runtime.duplicate_lookup_error = lookup.error.message || String(lookup.error);\n}\n\nif (runtime.persist_result && runtime.persistence_mode === 'postgres' && lookupMatched) {\n  runtime.duplicate_found = true;\n}\n\nif (runtime.persist_result && runtime.persistence_mode === 'postgres' && runtime.duplicate_mode === 'skip' && lookupMatched && lookupPayload) {\n  let reusedPayload = lookupPayload;\n  if (typeof reusedPayload === 'string') {\n    reusedPayload = JSON.parse(reusedPayload);\n  }\n  if (!reusedPayload.processing_metadata || typeof reusedPayload.processing_metadata !== 'object') {\n    reusedPayload.processing_metadata = {};\n  }\n  if (!Array.isArray(reusedPayload.processing_metadata.validation_errors)) {\n    reusedPayload.processing_metadata.validation_errors = [];\n  }\n  reusedPayload.processing_metadata.document_id = reusedPayload.processing_metadata.document_id || lookup.pdf_hash || base.processing_metadata?.document_id || null;\n  reusedPayload.processing_metadata.source_filename = reusedPayload.processing_metadata.source_filename || lookup.pdf_filename || base.processing_metadata?.source_filename || null;\n  reusedPayload.processing_metadata.status = 'duplicate_skipped';\n  runtime.reuse_existing_marker = 1;\n  runtime.duplicate_skip_applied = true;\n  runtime.reused_payload = reusedPayload;\n}\n\nbase._runtime = runtime;\nreturn [{ json: base, binary }];"
      },
      "id": "cf7b5ef4-0148-4b4c-b2b0-27bbe8d5462e",
      "name": "Resolve Duplicate Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd4cd9b6-a00c-4fc5-a1e3-92b23f8491e4",
              "leftValue": "={{ $json._runtime.reuse_existing_marker }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ccb1f27-05fa-4a4d-b0d6-3c7282de42e3",
      "name": "Reuse Existing Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst runtime = item.json._runtime || {};\nconst reused = runtime.reused_payload || item.json;\nreturn [{ json: { ...reused, _runtime: runtime } }];"
      },
      "id": "ad9db8d7-fae2-44e9-a7d8-9a1e32e80e7b",
      "name": "Return Reused Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        832
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "pdf",
        "destinationKey": "pdf_base64_data",
        "options": {
          "keepSource": "binary"
        }
      },
      "id": "6405364b-8f26-4d56-b0c4-8fa10a99c0e0",
      "name": "Extract PDF Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2096,
        1312
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {
          "joinPages": true,
          "keepSource": true
        }
      },
      "id": "29b9ccfd-0be0-4d72-8706-4a1c09b0a11d",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse(JSON.stringify($input.first().json || {}));\nconst runtime = payload._runtime || {};\nconst candidate = JSON.parse(JSON.stringify(payload));\ndelete candidate._runtime;\ndelete candidate.openai_request_body;\n\nconst nullableString = { type: ['string', 'null'] };\nconst nullableNumber = { type: ['number', 'null'] };\nconst nullableBoolean = { type: ['boolean', 'null'] };\nconst infrastructureItem = {\n  type: 'object',\n  additionalProperties: false,\n  required: ['category', 'name', 'address', 'rating'],\n  properties: {\n    category: nullableString,\n    name: nullableString,\n    address: nullableString,\n    rating: nullableNumber,\n  },\n};\n\nconst schema = {\n  type: 'object',\n  additionalProperties: false,\n  required: [\n    'received_date',\n    'document_type',\n    'project_name',\n    'asset_class',\n    'provider',\n    'provider_contact',\n    'owner',\n    'address',\n    'areas',\n    'financials',\n    'property',\n    'returns',\n    'notes',\n    'location_enrichment',\n    'market_context',\n    'processing_metadata',\n  ],\n  properties: {\n    received_date: nullableString,\n    document_type: nullableString,\n    project_name: nullableString,\n    asset_class: nullableString,\n    provider: nullableString,\n    provider_contact: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['name', 'company', 'phone', 'email'],\n      properties: {\n        name: nullableString,\n        company: nullableString,\n        phone: nullableString,\n        email: nullableString,\n      },\n    },\n    owner: nullableString,\n    address: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['country', 'state', 'postal_code', 'city', 'street', 'house_number'],\n      properties: {\n        country: nullableString,\n        state: nullableString,\n        postal_code: nullableString,\n        city: nullableString,\n        street: nullableString,\n        house_number: nullableString,\n      },\n    },\n    areas: {\n      type: 'object',\n      additionalProperties: false,\n      required: [\n        'usable_area_m2',\n        'realizable_usable_area_m2',\n        'gross_floor_area_m2',\n        'plot_area_m2',\n        'rented_area_m2',\n        'vacancy_area_m2',\n      ],\n      properties: {\n        usable_area_m2: nullableNumber,\n        realizable_usable_area_m2: nullableNumber,\n        gross_floor_area_m2: nullableNumber,\n        plot_area_m2: nullableNumber,\n        rented_area_m2: nullableNumber,\n        vacancy_area_m2: nullableNumber,\n      },\n    },\n    financials: {\n      type: 'object',\n      additionalProperties: false,\n      required: [\n        'target_rent_pa_eur',\n        'actual_rent_pa_eur',\n        'asking_price_eur',\n        'price_per_m2_usable_area',\n        'price_per_m2_land',\n        'rental_units_count',\n        'broker_commission',\n        'bidding_process',\n      ],\n      properties: {\n        target_rent_pa_eur: nullableNumber,\n        actual_rent_pa_eur: nullableNumber,\n        asking_price_eur: nullableNumber,\n        price_per_m2_usable_area: nullableNumber,\n        price_per_m2_land: nullableNumber,\n        rental_units_count: nullableNumber,\n        broker_commission: nullableString,\n        bidding_process: nullableBoolean,\n      },\n    },\n    property: {\n      type: 'object',\n      additionalProperties: false,\n      required: [\n        'property_type',\n        'object_category',\n        'ownership_type',\n        'construction_year',\n        'heritage_protection',\n        'vacancy',\n        'parking_spaces',\n        'land_register',\n        'planned_use',\n        'zoning',\n        'building_class',\n      ],\n      properties: {\n        property_type: nullableString,\n        object_category: nullableString,\n        ownership_type: nullableString,\n        construction_year: nullableNumber,\n        heritage_protection: nullableBoolean,\n        vacancy: nullableNumber,\n        parking_spaces: nullableNumber,\n        land_register: nullableString,\n        planned_use: nullableString,\n        zoning: nullableString,\n        building_class: nullableString,\n      },\n    },\n    returns: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['gross_initial_yield_actual', 'gross_initial_yield_target'],\n      properties: {\n        gross_initial_yield_actual: nullableNumber,\n        gross_initial_yield_target: nullableNumber,\n      },\n    },\n    notes: nullableString,\n    location_enrichment: {\n      type: 'object',\n      additionalProperties: false,\n      required: [\n        'latitude',\n        'longitude',\n        'map_url',\n        'aerial_image_url',\n        'location_description',\n        'public_transport_access',\n        'distance_city_center_min',\n        'distance_train_station_min',\n        'distance_airport_min',\n        'infrastructure',\n      ],\n      properties: {\n        latitude: nullableNumber,\n        longitude: nullableNumber,\n        map_url: nullableString,\n        aerial_image_url: nullableString,\n        location_description: nullableString,\n        public_transport_access: nullableString,\n        distance_city_center_min: nullableNumber,\n        distance_train_station_min: nullableNumber,\n        distance_airport_min: nullableNumber,\n        infrastructure: {\n          type: 'array',\n          items: infrastructureItem,\n        },\n      },\n    },\n    market_context: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['potential_revenue', 'demographics'],\n      properties: {\n        potential_revenue: nullableString,\n        demographics: {\n          type: 'object',\n          additionalProperties: false,\n          required: ['population_development', 'purchasing_power'],\n          properties: {\n            population_development: nullableString,\n            purchasing_power: nullableString,\n          },\n        },\n      },\n    },\n    processing_metadata: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['document_id', 'source_filename', 'ingestion_channel', 'processed_at', 'status', 'validation_errors'],\n      properties: {\n        document_id: nullableString,\n        source_filename: nullableString,\n        ingestion_channel: nullableString,\n        processed_at: nullableString,\n        status: nullableString,\n        validation_errors: {\n          type: 'array',\n          items: { type: 'string' },\n        },\n      },\n    },\n  },\n};\n\nconst systemPrompt = [\n  'You normalize Austrian and German real estate expose text into a strict JSON object.',\n  'Use the provided deterministic candidate values when they appear correct and only fill missing or ambiguous fields.',\n  'Return null for anything not present.',\n  'Do not add fields, comments, markdown, or explanations.',\n  'Do not compute derived fields such as price_per_m2_* or gross_initial_yield_* unless explicitly stated in the document. Leave them null if they are not directly stated.',\n  'Keep enums exactly as provided when they are already confidently detected.',\n  'Return valid JSON only.',\n].join(' ');\n\nconst documentText = String(runtime.extracted_text || '')\n  .replace(/\\u00a0/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .trim()\n  .slice(0, 60000);\n\nconst candidateJson = JSON.stringify(candidate, null, 2).slice(0, 20000);\n\nif (!documentText) {\n  payload._runtime = {\n    ...runtime,\n    ai_error: 'extracted_text missing — no document text available for OpenAI normalization',\n  };\n}\n\npayload.openai_request_body = {\n  model: 'gpt-4.1-mini',\n  temperature: 0,\n  input: [\n    {\n      role: 'system',\n      content: [\n        {\n          type: 'input_text',\n          text: systemPrompt,\n        },\n      ],\n    },\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'input_text',\n          text: [\n            'Map the expose into the target schema and only improve missing or ambiguous values.',\n            'Document text:',\n            documentText || 'No extracted text available.',\n            '',\n            'Deterministic candidate JSON:',\n            candidateJson,\n          ].join('\\n'),\n        },\n      ],\n    },\n  ],\n  text: {\n    format: {\n      type: 'json_schema',\n      name: 'real_estate_expose',\n      strict: true,\n      schema,\n    },\n  },\n};\n\nreturn [{ json: payload }];"
      },
      "id": "30dba7d8-12f4-4f05-aec8-e3484c1db447",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_request_body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "31cf92c2-9a8f-496c-9d82-4c4e02f63abe",
      "name": "Normalize With OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3440,
        1312
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 8,
      "waitBetweenTries": 20000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "cuwpiYqDwd0E5pro",
          "name": "OpenAI Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const priorPayload = $('Parse Expose Deterministically').first().json || {};\nconst runtime = priorPayload._runtime || {};\nconst response = $input.first().json || {};\n\nlet parsed = {};\nlet aiError = response.error?.message || response.error || null;\n\n// Extract text from Responses API output\nlet rawText = '';\nfor (const out of response.output || []) {\n  for (const c of out.content || []) {\n    if (c.type === 'output_text' && c.text) rawText = c.text;\n    if (!parsed && c.type === 'output_json' && c.json) parsed = c.json;\n  }\n}\n\nif (!parsed || !Object.keys(parsed).length) {\n  try {\n    const cleaned = rawText\n      .replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n    parsed = JSON.parse(cleaned);\n  } catch(e) {\n    aiError = (aiError ? aiError + ' | ' : '') + 'JSON parse: ' + e.message + ' | raw: ' + rawText.slice(0, 200);\n    parsed = {};\n  }\n}\n\n// Map German Adresse → English address for Location Enrichment sub-workflow\nif (parsed.Adresse && typeof parsed.Adresse === 'object') {\n  parsed.address = {\n    street: parsed.Adresse['Stra\\u00dfe'] || null,\n    house_number: parsed.Adresse.Hausnummer || null,\n    postal_code: parsed.Adresse.PLZ || null,\n    city: parsed.Adresse.Stadt || null,\n    country: parsed.Adresse.Land || 'Austria',\n  };\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    _runtime: { ...runtime, ai_error: aiError },\n  },\n}];"
      },
      "id": "b8c72d05-12bb-4e83-a3a4-7a3bb7feaeef",
      "name": "Merge Deterministic And AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        1312
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "list",
          "value": "xng5XTPpmEodUlmp",
          "cachedResultName": "BIG - Expose Location Enrichment"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "2d2b08df-10ca-4dba-bf3e-09b7d1a7dfc2",
      "name": "Run Location Enrichment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3888,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse(JSON.stringify($input.first().json || {}));\nconst runtime = payload._runtime && typeof payload._runtime === 'object' ? payload._runtime : {};\nconst le = payload.location_enrichment || {};\nconst infra = Array.isArray(runtime.infrastructure) ? runtime.infrastructure : [];\nconst trainStation = runtime.nearest_train_station || null;\nconst airport = runtime.nearest_airport || null;\n\n// Haversine distance in meters\nfunction haversineM(lat1, lon1, lat2, lon2) {\n  const R = 6371000;\n  const toRad = d => d * Math.PI / 180;\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat/2)**2 + Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * Math.sin(dLon/2)**2;\n  return Math.round(R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)));\n}\n\n// Known Austrian city centers (for Ortsmitte)\nconst CITY_CENTERS = {\n  'Wien': { name: 'Stephansplatz', lat: 48.2085, lon: 16.3726 },\n  'Graz': { name: 'Hauptplatz', lat: 47.0707, lon: 15.4395 },\n  'Salzburg': { name: 'Mozartplatz', lat: 47.7981, lon: 13.0462 },\n  'Innsbruck': { name: 'Maria-Theresien-Stra\\u00dfe', lat: 47.2682, lon: 11.3923 },\n  'Linz': { name: 'Hauptplatz', lat: 48.3059, lon: 14.2862 },\n  'Klagenfurt': { name: 'Neuer Platz', lat: 46.6228, lon: 14.3098 },\n  'Villach': { name: 'Hauptplatz', lat: 46.6110, lon: 13.8458 },\n  'Wels': { name: 'Stadtplatz', lat: 48.1579, lon: 14.0286 },\n  'St. P\\u00f6lten': { name: 'Rathausplatz', lat: 48.2040, lon: 15.6229 },\n};\n\nconst originLat = le.latitude;\nconst originLon = le.longitude;\nconst hasCoords = originLat != null && !isNaN(originLat) && originLon != null && !isNaN(originLon);\nconst city = payload.Adresse?.Stadt || '';\n\n// Train station\nlet trainName = '', trainDist = '';\nif (trainStation?.name) {\n  trainName = trainStation.name;\n  if (hasCoords && trainStation.latitude && trainStation.longitude) {\n    trainDist = 'ca. ' + haversineM(originLat, originLon, trainStation.latitude, trainStation.longitude) + ' m';\n  }\n}\n\n// Airport\nlet airportName = '', airportDist = '';\nif (airport?.name) {\n  airportName = airport.name;\n  if (hasCoords && airport.latitude && airport.longitude) {\n    airportDist = 'ca. ' + haversineM(originLat, originLon, airport.latitude, airport.longitude) + ' m';\n  }\n}\n\n// City center\nlet ortsName = '', ortsDist = '';\nconst cityCenter = city ? (CITY_CENTERS[city] || null) : null;\nif (cityCenter && hasCoords) {\n  ortsName = cityCenter.name;\n  ortsDist = 'ca. ' + haversineM(originLat, originLon, cityCenter.lat, cityCenter.lon) + ' m';\n}\n\n// Infrastructure by category\nconst byCategory = (cat) => infra.filter(i => i.category === cat).sort((a,b) => (a.distance_m||Infinity)-(b.distance_m||Infinity));\nconst nearestEdu = byCategory('education')[0] || null;\nconst nearestHealth = byCategory('healthcare')[0] || null;\nconst nearestRetail = byCategory('retail')[0] || null;\n\n// Build Makrolage text\nconst makroLines = [];\nif (trainName) makroLines.push('N\\u00e4chster Bahnhof: ' + trainDist + (trainName ? ' (' + trainName + ')' : ''));\nif (airportName) makroLines.push('Flughafen [' + airportName + ']: ' + airportDist);\nif (nearestEdu) makroLines.push('N\\u00e4chste Bildungseinrichtung: ca. ' + nearestEdu.distance_m + ' m' + (nearestEdu.name ? ' (' + nearestEdu.name + ')' : ''));\n\n// Only overwrite Lagebeschreibung fields if enrichment yielded data\nif (hasCoords || trainName || airportName) {\n  payload.Lagebeschreibung = payload.Lagebeschreibung || {};\n\n  if (makroLines.length > 0) {\n    payload.Lagebeschreibung.Makrolage = makroLines.join('\\n');\n  }\n\n  const entf = payload.Lagebeschreibung.Entfernungen || {};\n  if (trainName) entf.Naechster_Bahnhof = { Bezeichnung: trainName, Entfernung: trainDist };\n  if (airportName) entf.Flughafen = { Bezeichnung: airportName, Entfernung: airportDist };\n  if (ortsName) entf.Ortsmitte = { Bezeichnung: ortsName, Entfernung: ortsDist };\n  payload.Lagebeschreibung.Entfernungen = entf;\n\n  const mikro = payload.Lagebeschreibung.Mikrolage_und_Infrastruktur || {};\n  if (nearestEdu) mikro.Bildungsbauten = nearestEdu.name + (nearestEdu.distance_m ? ' (ca. ' + nearestEdu.distance_m + ' m)' : '');\n  if (nearestHealth) mikro.Medizinische_Versorgung = nearestHealth.name + (nearestHealth.distance_m ? ' (ca. ' + nearestHealth.distance_m + ' m)' : '');\n  if (nearestRetail) mikro['Einkaufsm\\u00f6glichkeiten'] = nearestRetail.name + (nearestRetail.distance_m ? ' (ca. ' + nearestRetail.distance_m + ' m)' : '');\n  payload.Lagebeschreibung.Mikrolage_und_Infrastruktur = mikro;\n}\n\n// Set routing marker for persistence sub-workflow\npayload._runtime = {\n  ...runtime,\n  persist_result_marker: runtime.persist_result && runtime.persistence_mode === 'postgres' ? 1 : null,\n};\n\nreturn [{ json: payload }];"
      },
      "id": "07e741a5-20b3-477a-9b34-b39ae09ee8eb",
      "name": "Finalize Validation Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0d6a5e7-8a8c-4f6e-8e70-94c7a4d0fef2",
              "leftValue": "={{ $json._runtime.persist_result_marker }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15ef2db7-d2ae-4bc9-801f-2ef9a5ca9ece",
      "name": "Persist Result?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4336,
        1312
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "list",
          "value": "IwXZO4KsCQuCIMLh",
          "cachedResultName": "BIG - Expose Persistence"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "1a0d4567-75f5-41e5-a22e-3dafce4e3e78",
      "name": "Persist Structured Output",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4560,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() || {};\nconst payload = JSON.parse(JSON.stringify(item.json || {}));\nconst runtime = payload._runtime && typeof payload._runtime === 'object' ? payload._runtime : {};\nconst extractedText = String(runtime.extracted_text || '');\n\nfunction cleanString(value) {\n  if (value == null) return '';\n  var text = String(value).replace(/\\s+/g, ' ').trim();\n  return text || '';\n}\n\nfunction cleanMultiline(value) {\n  if (value == null) return '';\n  var text = String(value)\n    .replace(/\\r/g, '\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n  return text || '';\n}\n\nfunction cleanNumber(value) {\n  if (value == null || value === '') return '';\n  if (typeof value === 'number') {\n    return Number.isFinite(value) ? value : '';\n  }\n  var text = String(value)\n    .replace(/\\u00a0/g, ' ')\n    .replace(/\\u20ac/g, '')\n    .replace(/\\b(EUR|EURO|m\\u00b2|m2|qm|%|Stk\\.?|St\\.?|p\\.a\\.|pa)\\b/gi, '')\n    .replace(/--/g, '')\n    .replace(/,-/g, '')\n    .replace(/[^0-9,.-]/g, '');\n  if (!text || text === '-' || text === '--') return '';\n  if (text.includes(',') && text.includes('.')) {\n    text = text.replace(/\\./g, '').replace(',', '.');\n  } else if (text.includes(',')) {\n    text = text.replace(',', '.');\n  } else {\n    text = text.replace(/(\\d)\\.(?=\\d{3}(\\D|$))/g, '$1');\n  }\n  var parsed = Number(text);\n  return Number.isFinite(parsed) ? parsed : '';\n}\n\nfunction stringifyValue(value) {\n  if (value == null || value === '') return '';\n  if (typeof value === 'string') return cleanMultiline(value);\n  if (typeof value === 'number' || typeof value === 'boolean') return String(value);\n  if (Array.isArray(value)) return value.map(stringifyValue).filter(Boolean).join('\\n');\n  if (typeof value === 'object') {\n    return Object.values(value).map(stringifyValue).filter(Boolean).join('\\n');\n  }\n  return cleanMultiline(value);\n}\n\nfunction buildProviderContactString(value) {\n  if (!value) return '';\n  if (typeof value === 'string') return cleanMultiline(value);\n  var parts = [];\n  if (value.name) parts.push(cleanString(value.name));\n  if (value.company && cleanString(value.company) !== cleanString(value.name)) parts.push(cleanString(value.company));\n  if (value.phone) parts.push(cleanString(value.phone));\n  if (value.email) parts.push(cleanString(value.email));\n  return parts.filter(Boolean).join('\\n');\n}\n\nfunction deriveProjectName(source) {\n  var explicit = cleanString(source.Project_name || source.project_name);\n  if (explicit) return explicit;\n  var sourceAddress = buildMergedAddress(source);\n  return cleanString(sourceAddress['Stra\\u00dfe'] || sourceAddress.street);\n}\n\nfunction pickFirstNonEmpty(values) {\n  for (var index = 0; index < values.length; index += 1) {\n    var value = cleanString(values[index]);\n    if (value) return value;\n  }\n  return '';\n}\n\nfunction buildMergedAddress(source) {\n  var rimAddress = source.Adresse && typeof source.Adresse === 'object' ? source.Adresse : {};\n  var canonicalAddress = source.address && typeof source.address === 'object' ? source.address : {};\n  return {\n    Land: pickFirstNonEmpty([rimAddress.Land, canonicalAddress.country]),\n    Bundesland: pickFirstNonEmpty([rimAddress.Bundesland, canonicalAddress.state]),\n    PLZ: pickFirstNonEmpty([rimAddress.PLZ, canonicalAddress.postal_code]),\n    Stadt: pickFirstNonEmpty([rimAddress.Stadt, canonicalAddress.city]),\n    Stra\\u00dfe: pickFirstNonEmpty([rimAddress['Stra\\u00dfe'], canonicalAddress.street]),\n    Hausnummer: pickFirstNonEmpty([rimAddress.Hausnummer, canonicalAddress.house_number]),\n    country: pickFirstNonEmpty([canonicalAddress.country, rimAddress.Land]),\n    state: pickFirstNonEmpty([canonicalAddress.state, rimAddress.Bundesland]),\n    postal_code: pickFirstNonEmpty([canonicalAddress.postal_code, rimAddress.PLZ]),\n    city: pickFirstNonEmpty([canonicalAddress.city, rimAddress.Stadt]),\n    street: pickFirstNonEmpty([canonicalAddress.street, rimAddress['Stra\\u00dfe']]),\n    house_number: pickFirstNonEmpty([canonicalAddress.house_number, rimAddress.Hausnummer]),\n  };\n}\n\nfunction normalizeCountry(value) {\n  var cleaned = cleanString(value);\n  if (!cleaned) return '\\u00d6sterreich';\n  if (/^austria$/i.test(cleaned) || /^\\u00f6sterreich$/i.test(cleaned)) return '\\u00d6sterreich';\n  return cleaned;\n}\n\nfunction deriveBundesland(address) {\n  var existing = cleanString(address['Bundesland'] || address.state);\n  if (existing) return existing;\n  var city = cleanString(address.Stadt || address.city).toLowerCase();\n  var postalCode = cleanString(address.PLZ || address.postal_code);\n  var cityMap = {\n    'wien': 'Wien',\n    'graz': 'Steiermark',\n    'salzburg': 'Salzburg',\n    'linz': 'Ober\\u00f6sterreich',\n    'innsbruck': 'Tirol',\n    'klagenfurt': 'K\\u00e4rnten',\n    'villach': 'K\\u00e4rnten',\n    'st. p\\u00f6lten': 'Nieder\\u00f6sterreich',\n    'st p\\u00f6lten': 'Nieder\\u00f6sterreich',\n    'wels': 'Ober\\u00f6sterreich',\n    'eisenstadt': 'Burgenland',\n    'bregenz': 'Vorarlberg',\n  };\n  if (cityMap[city]) return cityMap[city];\n  if (/^1\\d{3}$/.test(postalCode)) return 'Wien';\n  if (/^(2|3)\\d{3}$/.test(postalCode) || postalCode === '3100') return 'Nieder\\u00f6sterreich';\n  if (/^4\\d{3}$/.test(postalCode)) return 'Ober\\u00f6sterreich';\n  if (/^5\\d{3}$/.test(postalCode)) return 'Salzburg';\n  if (/^7\\d{3}$/.test(postalCode)) return 'Burgenland';\n  if (/^8\\d{3}$/.test(postalCode)) return 'Steiermark';\n  if (/^9\\d{3}$/.test(postalCode)) return 'K\\u00e4rnten';\n  return '';\n}\n\nfunction mapAssetClass(source) {\n  var existing = cleanString(source.Assetklasse);\n  if (existing) return existing;\n  var joined = [\n    source.asset_class,\n    source.property && source.property.property_type,\n    source.property && source.property.planned_use,\n    source.property && source.property.object_category,\n    source.notes,\n  ].map(cleanString).filter(Boolean).join(' ').toLowerCase();\n\n  if (!joined) return '';\n  if (/universit|hochschule|campus/.test(joined)) return 'Universit\\u00e4t';\n  if (/schule|kindergarten/.test(joined)) return 'Schule';\n  if (/sicherheit|polizei|feuerwehr|kaserne|gericht/.test(joined)) return 'Sicherheit';\n  if (/wohnen|wohn|residential|apartment|mehrfamilien|wohnung/.test(joined)) {\n    return 'Wohnen';\n  }\n  if (/b\\u00fcro|office/.test(joined)) return 'B\\u00fcro';\n  return '';\n}\n\nfunction findAnnualValue(label) {\n  if (!extractedText) return '';\n  var lines = extractedText.split('\\n');\n  for (var index = 0; index < lines.length; index += 1) {\n    var line = lines[index];\n    if (!(new RegExp(label, 'i')).test(line) || !/p\\.a\\.|pa/i.test(line)) continue;\n    var matches = line.match(/[\\d.,]+/g) || [];\n    if (!matches.length) continue;\n    var candidate = cleanNumber(matches[0]);\n    if (candidate !== '') return candidate;\n  }\n  return '';\n}\n\nfunction mapToRim(source) {\n  var sourceAddress = buildMergedAddress(source);\n  var sourceAdditional = source['Zus\\u00e4tzliche_Informationen'] && typeof source['Zus\\u00e4tzliche_Informationen'] === 'object'\n    ? source['Zus\\u00e4tzliche_Informationen']\n    : {};\n  var sourceLage = source.Lagebeschreibung && typeof source.Lagebeschreibung === 'object' ? source.Lagebeschreibung : {};\n  var sourceInfra = sourceLage.Mikrolage_und_Infrastruktur && typeof sourceLage.Mikrolage_und_Infrastruktur === 'object'\n    ? sourceLage.Mikrolage_und_Infrastruktur\n    : {};\n  var sourceTraffic = sourceLage.Verkehrsanbindung && typeof sourceLage.Verkehrsanbindung === 'object'\n    ? sourceLage.Verkehrsanbindung\n    : {};\n  var sourceDistances = sourceLage.Entfernungen && typeof sourceLage.Entfernungen === 'object'\n    ? sourceLage.Entfernungen\n    : {};\n  var annualSoll = findAnnualValue('SOLL');\n  var annualIst = findAnnualValue('IST');\n\n  return {\n    Project_name: deriveProjectName(source),\n    Anbieter: cleanString(source.Anbieter || source.provider),\n    Kontaktdaten_Anbieter: buildProviderContactString(source.Kontaktdaten_Anbieter || source.provider_contact),\n    Eigent\\u00fcmer: cleanString(source['Eigent\\u00fcmer'] || source.owner),\n    Adresse: {\n      Land: normalizeCountry(sourceAddress.Land || sourceAddress.country),\n      Bundesland: deriveBundesland(sourceAddress),\n      PLZ: cleanString(sourceAddress.PLZ || sourceAddress.postal_code),\n      Stadt: cleanString(sourceAddress.Stadt || sourceAddress.city),\n      Stra\\u00dfe: cleanString(sourceAddress['Stra\\u00dfe'] || sourceAddress.street),\n      Hausnummer: cleanString(sourceAddress.Hausnummer || sourceAddress.house_number),\n    },\n    Assetklasse: mapAssetClass(source),\n    'Nutzfl\\u00e4che_m2': cleanNumber(source['Nutzfl\\u00e4che_m2'] != null ? source['Nutzfl\\u00e4che_m2'] : source.areas && source.areas.usable_area_m2),\n    'Grundst\\u00fccksfl\\u00e4che_m2': cleanNumber(source['Grundst\\u00fccksfl\\u00e4che_m2'] != null ? source['Grundst\\u00fccksfl\\u00e4che_m2'] : source.areas && source.areas.plot_area_m2),\n    SOLL_Mieteinnahme_EUR_p_a: annualSoll !== '' ? annualSoll : cleanNumber(source.SOLL_Mieteinnahme_EUR_p_a),\n    IST_Mieteinnahme_EUR_p_a: annualIst !== '' ? annualIst : cleanNumber(source.IST_Mieteinnahme_EUR_p_a),\n    Kaufpreisvorstellung_EUR: cleanNumber(source.Kaufpreisvorstellung_EUR != null ? source.Kaufpreisvorstellung_EUR : source.financials && source.financials.asking_price_eur),\n    'Kaufpreis_pro_m2_Nutzfl\\u00e4che_EUR': cleanNumber(source['Kaufpreis_pro_m2_Nutzfl\\u00e4che_EUR'] != null ? source['Kaufpreis_pro_m2_Nutzfl\\u00e4che_EUR'] : source.financials && source.financials.price_per_m2_usable_area),\n    'Kaufpreis_pro_m2_Grundst\\u00fcck_EUR': cleanNumber(source['Kaufpreis_pro_m2_Grundst\\u00fcck_EUR'] != null ? source['Kaufpreis_pro_m2_Grundst\\u00fcck_EUR'] : source.financials && source.financials.price_per_m2_land),\n    Objekttyp: cleanString(source.Objekttyp || source.property && (source.property.object_category || source.property.property_type)),\n    Eigentumsform: cleanString(source.Eigentumsform || source.property && source.property.ownership_type),\n    Bruttoanfangsrendite_IST: cleanNumber(source.Bruttoanfangsrendite_IST != null ? source.Bruttoanfangsrendite_IST : source.returns && source.returns.gross_initial_yield_actual),\n    Bruttoanfangsrendite_SOLL: cleanNumber(source.Bruttoanfangsrendite_SOLL != null ? source.Bruttoanfangsrendite_SOLL : source.returns && source.returns.gross_initial_yield_target),\n    'Zus\\u00e4tzliche_Informationen': {\n      Baujahr: cleanNumber(sourceAdditional.Baujahr != null ? sourceAdditional.Baujahr : source.property && source.property.construction_year),\n      Maklerprovision: cleanString(sourceAdditional.Maklerprovision != null ? sourceAdditional.Maklerprovision : source.financials && source.financials.broker_commission),\n      Denkmalschutz: stringifyValue(sourceAdditional.Denkmalschutz != null ? sourceAdditional.Denkmalschutz : source.property && source.property.heritage_protection),\n      Leerstand: cleanNumber(sourceAdditional.Leerstand != null ? sourceAdditional.Leerstand : source.property && source.property.vacancy),\n      'Stellpl\\u00e4tze': cleanNumber(sourceAdditional['Stellpl\\u00e4tze'] != null ? sourceAdditional['Stellpl\\u00e4tze'] : source.property && source.property.parking_spaces),\n    },\n    Lagebeschreibung: {\n      Makrolage: cleanMultiline(sourceLage.Makrolage || ''),\n      Mikrolage_und_Infrastruktur: {\n        Bildungsbauten: cleanString(sourceInfra.Bildungsbauten),\n        Medizinische_Versorgung: cleanString(sourceInfra.Medizinische_Versorgung),\n        'Einkaufsm\\u00f6glichkeiten': cleanString(sourceInfra['Einkaufsm\\u00f6glichkeiten']),\n      },\n      Umliegende_Bebauung: cleanString(sourceLage.Umliegende_Bebauung),\n      Verkehrsanbindung: {\n        Oeffentlicher_Verkehr: cleanString(sourceTraffic.Oeffentlicher_Verkehr),\n        Individualverkehr: cleanString(sourceTraffic.Individualverkehr),\n      },\n      Entfernungen: {\n        Naechster_Bahnhof: {\n          Bezeichnung: cleanString(sourceDistances.Naechster_Bahnhof && sourceDistances.Naechster_Bahnhof.Bezeichnung),\n          Entfernung: cleanString(sourceDistances.Naechster_Bahnhof && sourceDistances.Naechster_Bahnhof.Entfernung),\n        },\n        Ortsmitte: {\n          Bezeichnung: cleanString(sourceDistances.Ortsmitte && sourceDistances.Ortsmitte.Bezeichnung),\n          Entfernung: cleanString(sourceDistances.Ortsmitte && sourceDistances.Ortsmitte.Entfernung),\n        },\n        Flughafen: {\n          Bezeichnung: cleanString(sourceDistances.Flughafen && sourceDistances.Flughafen.Bezeichnung),\n          Entfernung: cleanString(sourceDistances.Flughafen && sourceDistances.Flughafen.Entfernung),\n        },\n      },\n    },\n  };\n}\n\nreturn [{ json: mapToRim(payload) }];"
      },
      "id": "ba5ee82a-b04f-4e73-a869-1e48ac0c66d8",
      "name": "Prepare Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7cb8b01-3c66-4f86-9e26-5a51cbe9fbc4",
              "leftValue": "={{ $json._runtime.duplicate_lookup_requested }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b0e9f2d-78d0-4745-8ee3-acf81f6e55c3",
      "name": "Duplicate Lookup Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "var inputItem = $input.first() || {};\nvar extractedData = inputItem.json || {};\nvar duplicateStage = $('Resolve Duplicate Strategy').first() || {};\nvar payload = JSON.parse(JSON.stringify(duplicateStage.json || {}));\nvar extractedRuntime = extractedData._runtime && typeof extractedData._runtime === 'object' ? extractedData._runtime : {};\nvar base64Data = null;\ntry {\n  var base64Item = $('Extract PDF Base64').first() || {};\n  base64Data = base64Item.json ? base64Item.json.pdf_base64_data || null : null;\n} catch (error) {\n  base64Data = null;\n}\n\nfunction cleanText(value) {\n  var cleaned = null;\n  if (value != null) {\n    var candidateText = String(value).replace(/\\s+/g, ' ').trim();\n    cleaned = candidateText || null;\n  }\n  return { value: cleaned };\n}\n\nfunction cleanEmail(value) {\n  var cleaned = cleanText(value).value;\n  if (cleaned) {\n    cleaned = cleaned.replace(/(\\.[A-Za-z]{2,})(Mail|Mobil)$/i, '$1');\n  }\n  return { value: cleaned };\n}\n\nfunction cleanPhone(value) {\n  var cleaned = cleanText(value).value;\n  if (cleaned) {\n    cleaned = cleaned.replace(/(Mail|Mobil)$/i, '').trim();\n  }\n  return { value: cleaned };\n}\n\nfunction parseGermanNumber(value) {\n  var parsed = null;\n  if (value != null && value !== '') {\n    if (typeof value === 'number') {\n      parsed = Number.isFinite(value) ? value : null;\n    } else {\n      var text = String(value)\n        .replace(/\\u00a0/g, ' ')\n        .replace(/\\u20ac/g, '')\n        .replace(/\\b(EUR|EURO|m\\u00b2|m2|qm|%|Stk\\.?|St\\.?|p\\.a\\.|pa)\\b/gi, '')\n        .replace(/--/g, '')\n        .replace(/,-/g, '')\n        .replace(/[^0-9,.-]/g, '');\n      if (text && text !== '-' && text !== '--') {\n        if (text.includes(',') && text.includes('.')) {\n          text = text.replace(/\\./g, '').replace(',', '.');\n        } else if (text.includes(',')) {\n          text = text.replace(',', '.');\n        } else {\n          text = text.replace(/(\\d)\\.(?=\\d{3}(\\D|$))/g, '$1');\n        }\n        var candidateNumber = Number(text);\n        parsed = Number.isFinite(candidateNumber) ? candidateNumber : null;\n      }\n    }\n  }\n  return { value: parsed };\n}\n\nfunction pickFirstMatch(patterns, text) {\n  var value = null;\n  for (var patternIndex = 0; patternIndex < patterns.length; patternIndex += 1) {\n    var pattern = patterns[patternIndex];\n    var currentMatch = text.match(pattern);\n    if (currentMatch && currentMatch[1]) {\n      value = cleanText(currentMatch[1]).value;\n      break;\n    }\n  }\n  return { value: value };\n}\n\nfunction between(text, startPattern, endPattern) {\n  var value = null;\n  var startMatch = text.match(startPattern);\n  if (startMatch) {\n    var startIndex = startMatch.index + startMatch[0].length;\n    var sliced = text.slice(startIndex);\n    var endMatch = endPattern ? sliced.match(endPattern) : null;\n    var endIndex = endMatch ? endMatch.index : sliced.length;\n    value = cleanText(sliced.slice(0, endIndex)).value;\n  }\n  return { value: value };\n}\n\nfunction uniqueNonEmpty(values) {\n  var filteredValues = values.filter(function(entry, index) {\n    return Boolean(entry) && values.indexOf(entry) === index;\n  });\n  return { value: filteredValues };\n}\n\nvar rawText = typeof extractedData.text === 'string' ? extractedData.text : '';\nvar fullText = String(rawText)\n  .replace(/\\u00a0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nvar workingText = (fullText.split(/\\nAllgemeine Gesch\\u00e4ftsbedingungen\\b/i)[0] || fullText).trim();\n\npayload._runtime = payload._runtime || {};\npayload._runtime.pdf_base64 = base64Data || extractedRuntime.pdf_base64 || payload._runtime.pdf_base64 || null;\npayload._runtime.binary_error = extractedRuntime.binary_error || payload._runtime.binary_error || null;\npayload._runtime.extracted_text = workingText;\n\nreturn [{ json: payload, binary: inputItem.binary || {} }];"
      },
      "id": "e8e77f21-d5df-41b4-a0e8-1e3ef0f5e81f",
      "name": "Parse Expose Deterministically - Raw",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "var inputItem = $input.first() || {};\nvar payload = JSON.parse(JSON.stringify(inputItem.json || {}));\nvar runtime = payload._runtime || {};\nvar fullText = runtime.extracted_text || '';\n\nfunction cleanText(value) {\n  var cleaned = null;\n  if (value != null) {\n    var candidateText = String(value).replace(/\\s+/g, ' ').trim();\n    cleaned = candidateText || null;\n  }\n  return { value: cleaned };\n}\n\nfunction parseGermanNumber(value) {\n  var parsed = null;\n  if (value != null && value !== '') {\n    if (typeof value === 'number') {\n      parsed = Number.isFinite(value) ? value : null;\n    } else {\n      var text = String(value)\n        .replace(/\\u00a0/g, ' ')\n        .replace(/\\u20ac/g, '')\n        .replace(/\\b(EUR|EURO|m\\u00b2|m2|qm|%|Stk\\.?|St\\.?|p\\.a\\.|pa)\\b/gi, '')\n        .replace(/--/g, '')\n        .replace(/,-/g, '')\n        .replace(/[^0-9,.-]/g, '');\n      if (text && text !== '-' && text !== '--') {\n        if (text.includes(',') && text.includes('.')) {\n          text = text.replace(/\\./g, '').replace(',', '.');\n        } else if (text.includes(',')) {\n          text = text.replace(',', '.');\n        } else {\n          text = text.replace(/(\\d)\\.(?=\\d{3}(\\D|$))/g, '$1');\n        }\n        var candidateNumber = Number(text);\n        parsed = Number.isFinite(candidateNumber) ? candidateNumber : null;\n      }\n    }\n  }\n  return { value: parsed };\n}\n\nfunction pickFirstMatch(patterns, text) {\n  var value = null;\n  for (var patternIndex = 0; patternIndex < patterns.length; patternIndex += 1) {\n    var pattern = patterns[patternIndex];\n    var currentMatch = text.match(pattern);\n    if (currentMatch && currentMatch[1]) {\n      value = cleanText(currentMatch[1]).value;\n      break;\n    }\n  }\n  return { value: value };\n}\n\nvar emailMatch = fullText.match(/([A-Za-z0-9._%+\\-]+@[A-Za-z0-9.\\-]+\\.[A-Za-z]{2,})/);\nvar emailValue = emailMatch ? emailMatch[1] : null;\n\nvar phonePatterns = [\n  /((?:\\+43|0043|0)[\\s\\-]?(?:\\d[\\s\\-]?){6,14})/,\n  /((?:\\+4[\\d]|00[1-9])[\\s\\-]?(?:\\d[\\s\\-]?){6,14})/,\n];\nvar phoneValue = pickFirstMatch(phonePatterns, fullText).value;\n\nvar providerPatterns = [\n  /(?:Anbieter|Makler|Vermittler|Verwalter|Kontakt|Ansprechpartner)[:\\s]+([^\\n,;]{3,80})/i,\n  /([A-Z][A-Za-z\\u00c0-\\u00ff\\s&.\\-]{2,60}(?:GmbH|AG|KG|OG|GmbH & Co\\.? KG|Immobilien|Real Estate|Realty))/,\n];\nvar providerValue = pickFirstMatch(providerPatterns, fullText).value;\n\nvar plzCityPatterns = [\n  /\\b(\\d{4})\\s+([A-Z][A-Za-z\\u00c0-\\u00ff\\-\\s]{2,30})/,\n  /PLZ[:\\s]+(\\d{4})[,\\s]+([A-Za-z\\u00c0-\\u00ff\\-\\s]{2,30})/i,\n];\nvar plzValue = null;\nvar cityValue = null;\nfor (var pi = 0; pi < plzCityPatterns.length; pi += 1) {\n  var plzMatch = fullText.match(plzCityPatterns[pi]);\n  if (plzMatch) {\n    plzValue = plzMatch[1] || null;\n    cityValue = cleanText(plzMatch[2]).value;\n    break;\n  }\n}\n\nvar streetPatterns = [\n  /([A-Z\\u00c0-\\u00ff][A-Za-z\\u00c0-\\u00ff\\s\\-]+(?:stra\\u00dfe|gasse|platz|weg|allee|ring|zeile|promenade|bahn))\\s+(\\d+[a-z]?)/i,\n  /Adresse[:\\s]+([^\\n]{5,60})/i,\n  /Lage[:\\s]+([^\\n]{5,60})/i,\n];\nvar streetValue = null;\nvar houseNumberValue = null;\nfor (var si = 0; si < streetPatterns.length; si += 1) {\n  var streetMatch = fullText.match(streetPatterns[si]);\n  if (streetMatch) {\n    if (streetMatch[2]) {\n      streetValue = cleanText(streetMatch[1]).value;\n      houseNumberValue = cleanText(streetMatch[2]).value;\n    } else {\n      streetValue = cleanText(streetMatch[1]).value;\n    }\n    break;\n  }\n}\n\nvar pricePatterns = [\n  /(?:Kaufpreis(?:vorstellung)?|Angebotspreis|Preis)[:\\s]*(?:EUR|€|Euro)?\\s*([\\d.,]+(?:\\s*(?:Mio\\.?|Mrd\\.?|T\\.?))?)/i,\n  /(?:EUR|€)\\s*([\\d.,]+(?:\\s*(?:Mio\\.?|Mrd\\.?))?)/i,\n];\nvar rawPriceStr = pickFirstMatch(pricePatterns, fullText).value;\nvar askingPriceValue = null;\nif (rawPriceStr) {\n  var lc = rawPriceStr.toLowerCase();\n  var baseNum = parseGermanNumber(rawPriceStr.replace(/\\s*(mio\\.?|mrd\\.?|t\\.?)/i, '')).value;\n  if (baseNum != null) {\n    if (lc.includes('mrd')) {\n      askingPriceValue = baseNum * 1000000000;\n    } else if (lc.includes('mio')) {\n      askingPriceValue = baseNum * 1000000;\n    } else if (lc.includes('t.') || lc.includes('tsd')) {\n      askingPriceValue = baseNum * 1000;\n    } else {\n      askingPriceValue = baseNum;\n    }\n  }\n}\n\nvar areaPatterns = [\n  /(?:Nutzfl\\u00e4che|Wohnfl\\u00e4che|Mietfl\\u00e4che|BGF|NF|Fl\\u00e4che)[:\\s]*([\\d.,]+)\\s*(?:m\\u00b2|m2|qm)/i,\n  /([\\d.,]+)\\s*(?:m\\u00b2|m2|qm)/,\n];\nvar usableAreaValue = pickFirstMatch(areaPatterns, fullText).value;\nusableAreaValue = parseGermanNumber(usableAreaValue).value;\n\nvar plotAreaPatterns = [\n  /(?:Grundst\\u00fccksgr\\u00f6\\u00dfe|Grundfl\\u00e4che|Grundst\\u00fcck)[:\\s]*([\\d.,]+)\\s*(?:m\\u00b2|m2|qm)/i,\n];\nvar plotAreaValue = pickFirstMatch(plotAreaPatterns, fullText).value;\nplotAreaValue = parseGermanNumber(plotAreaValue).value;\n\nif (emailValue && !payload.provider_contact.email) payload.provider_contact.email = emailValue;\nif (phoneValue && !payload.provider_contact.phone) payload.provider_contact.phone = phoneValue;\nif (providerValue && !payload.provider) payload.provider = providerValue;\nif (plzValue && !payload.address.postal_code) payload.address.postal_code = plzValue;\nif (cityValue && !payload.address.city) payload.address.city = cityValue;\nif (streetValue && !payload.address.street) payload.address.street = streetValue;\nif (houseNumberValue && !payload.address.house_number) payload.address.house_number = houseNumberValue;\nif (askingPriceValue != null && payload.financials.asking_price_eur == null) payload.financials.asking_price_eur = askingPriceValue;\nif (usableAreaValue != null && payload.areas.usable_area_m2 == null) payload.areas.usable_area_m2 = usableAreaValue;\nif (plotAreaValue != null && payload.areas.plot_area_m2 == null) payload.areas.plot_area_m2 = plotAreaValue;\n\npayload._runtime = runtime;\nreturn [{ json: payload, binary: inputItem.binary || {} }];"
      },
      "id": "f9c42d7c-d4bb-437e-8cc0-4de52f58e88a",
      "name": "Parse Expose Deterministically",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        1312
      ]
    },
    {
      "parameters": {
        "content": "## README\n- Owner: Richard Berenczei / richard.berenczei@pwc.com\n- Dependencies: BIG Postgres credential, n8n.exposes table, BIG - Expose Location Enrichment, BIG - Expose Persistence, BIG - Expose Error Handler sub-workflows\n- Logic Summary: Normalize intake, hash the PDF, optionally check for duplicates, extract text, run deterministic and AI extraction, enrich location, validate, optionally persist.\n\n## Input Contract\nCalled via `executeWorkflow` from any Intake workflow. Expected fields on the input item:\n```\n{ source_filename, ingestion_channel, received_date, duplicate_mode, persist_result, persistence_mode }\n```\nWith binary key `pdf` containing the PDF file.\n\n## Output Contract\nReturns the full extraction payload with `processing_metadata.status` set to one of:\n- `success` — all business-critical fields populated and valid\n- `partial_success` — valid extraction but location enrichment failed\n- `validation_failed` — one or more business-critical fields missing or invalid\n- `non_expose` — document classified as non-exposé (NDA, AGB, floor plan, etc.)\n- `duplicate_skipped` — hash matched an existing record and duplicate_mode=skip\n\n## Sections\n1. Input & Idempotency — normalize intake, hash PDF, init context, duplicate lookup\n2. Deterministic Extraction — regex/heuristic parse of PDF text\n3. AI Normalization — OpenAI structured output to fill gaps\n4. Enrichment, Validation & Persistence — location APIs, schema validation, Postgres insert",
        "height": 592,
        "width": 960,
        "color": 7
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ]
    },
    {
      "parameters": {
        "content": "## Input & Idempotency\nReceive intake payload, normalize binary key to 'pdf', hash the PDF, initialize the canonical extraction context, and optionally check Postgres for a duplicate by hash.",
        "height": 320,
        "width": 1760,
        "color": 5
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Section 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        832
      ]
    },
    {
      "parameters": {
        "content": "## Deterministic Extraction\nExtract raw text from the PDF binary, then apply regex and heuristic rules to populate as many fields as possible before calling the AI.",
        "height": 320,
        "width": 960,
        "color": 5
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Section 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2256,
        1072
      ]
    },
    {
      "parameters": {
        "content": "## AI Normalization\nBuild a structured-output OpenAI request using the deterministic candidate as context, then merge the AI output back, preferring deterministic values when available.",
        "height": 320,
        "width": 960,
        "color": 4
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Section 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        1072
      ]
    },
    {
      "parameters": {
        "content": "## Enrichment, Validation & Persistence\nRun location enrichment sub-workflow, finalize validation status and map_url, then conditionally persist to Postgres.",
        "height": 320,
        "width": 960,
        "color": 4
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Section 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4112,
        1072
      ]
    }
  ],
  "connections": {
    "Receive Intake Payload": {
      "main": [
        [
          {
            "node": "Normalize Intake Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake Payload": {
      "main": [
        [
          {
            "node": "Hash Source PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Source PDF": {
      "main": [
        [
          {
            "node": "Initialize Extraction Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Extraction Context": {
      "main": [
        [
          {
            "node": "Duplicate Lookup Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Lookup Enabled?": {
      "main": [
        [
          {
            "node": "Lookup Existing Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Duplicate Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Existing Extraction": {
      "main": [
        [
          {
            "node": "Resolve Duplicate Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Duplicate Strategy": {
      "main": [
        [
          {
            "node": "Reuse Existing Extraction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reuse Existing Extraction?": {
      "main": [
        [
          {
            "node": "Return Reused Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Base64": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Parse Expose Deterministically - Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expose Deterministically - Raw": {
      "main": [
        [
          {
            "node": "Parse Expose Deterministically",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expose Deterministically": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "Normalize With OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize With OpenAI": {
      "main": [
        [
          {
            "node": "Merge Deterministic And AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deterministic And AI Output": {
      "main": [
        [
          {
            "node": "Run Location Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Location Enrichment": {
      "main": [
        [
          {
            "node": "Finalize Validation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Validation Status": {
      "main": [
        [
          {
            "node": "Persist Result?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Result?": {
      "main": [
        [
          {
            "node": "Persist Structured Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Structured Output": {
      "main": [
        [
          {
            "node": "Prepare Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Reused Payload": {
      "main": [
        [
          {
            "node": "Prepare Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "tags": [
    "BIG"
  ]
}